# Jekyll build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler / Ruby
.bundle/
vendor/
Gemfile.lock

# OS / Editor
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Logs and temp files
*.log
tmp/
